[Unit]
Description = Run standard SLAC boot file
RequiresMountsFor=/afs/slac.stanford.edu

[Service]
Type=simple
ExecStart = /root/scripts/run_bootfile_dev.sh

[Install]
WantedBy = default.target
