[Unit]
Description = Run standart SLAC boot file
RequiresMountsFor=/afs/slac.stanford.edu

[Service]
Type=simple
ExecStart = /root/scripts/run_bootfile.sh

[Install]
WantedBy = default.target
